# Created by .ignore support plugin (hsz.mobi)


.idea/.name
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/pyjsparser.iml
.idea/vcs.xml
.idea/workspace.xml
build/
dist/
files.txt
*.py[cod]
